#fundo{
    position: relative;
    width: 80%;
    height: 600px;
    background-color: #ccc;
    margin: auto;/*centraliza o componente*/
}

#camada1{
    position: relative;
    width: 150px;
    height: 180px;
    background-color: #FF0;
    border: 5px solid #F00;
    text-align: center;
    float: left;/*encaixar a esquerda*/
}

#camada2{
    position: relative;
    width: 150px;
    height: 180px;
    background-color: #0f0;
    border: 5px solid #090;
    text-align: center;
    float: left;
}

#camada3{
    position: relative;
    width: 150px;
    height: 180px;
    background-color: #0Ff;
    border: 5px solid #009;
    text-align: center;
    clear: left;/*quebra a sequencia de floats*/
}

#absoluta{
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 3;
    background-color: #009;
    color: #FFF;
    width: 100px;
    height: 100px;
}

